################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TechTest/AnyCompany/obj
/TechTest/AnyCompany.Tests/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/TechTest/AnyCompany.Tests/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/Investec/v16
/.vs
/TechTest/.vs/TechTest/v16
/TechTest/AnyCompany.OrderSystem.Core.DomainModel/obj
/TechTest/AnyCompany.OrderSystem.Core.DomainModel/bin/Debug/netstandard2.0
/TechTest/AnyCompany.Tests/bin/Debug
/TechTest/AnyCompany.OrderSystem.OrdersAPI/bin/Debug/netcoreapp3.1
/TechTest/.vs/TechTest/DesignTimeBuild
/TechTest/AnyCompany/bin/Debug
/TechTest/AnyCompany.OrderSystem.Application.ApplicationServices/obj
/TechTest/AnyCompany.OrderSystem.Application.Communication/bin/Debug/netstandard2.0
/TechTest/AnyCompany.OrderSystem.Application.Communication/obj
/TechTest/AnyCompany.OrderSystem.Infrastructure.Repositories/bin/Debug/netstandard2.0
/TechTest/AnyCompany.OrderSystem.Infrastructure.Repositories/obj
/TechTest/AnyCompany.OrderSystem.Services.ApplicationServices/bin/Debug/netstandard2.0
/TechTest/AnyCompany.OrderSystem.Services.ApplicationServices/obj
/TechTest/AnyCompany.OrderSystem.OrdersAPI/AnyCompany.OrderSystem.OrdersAPI.csproj.user
